body {
    background-color: #222;
  }
  
  .card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(5deg, #2b5876, #4e4376);
    color: #ffffff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
  }